* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #10A9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 10px;
    margin-top: -140px;
}

.login-form {
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    text-align: center;
}

.ripledd_logo img {
    width: 55px;
    margin-bottom: 20px;
}

.ripledd_logo svg{
    position: absolute;
    width: 65px;
    left: 50%;
    margin-top: -45px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

h2 {
    color: #1e6993;
    font-size: 23px;
    margin-bottom: 60px;
}

.input-group {
    display: flex;
    gap: 10px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #29affb;
    border: solid 2px #62c6ff;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
}

select {
    width: 40%;
    padding: 10px;
    height: 79% !important;
    margin-bottom: -10px;
    background: #29affb;
    border: solid 2px #83d4ff;
    border-radius: 8px;
    font-size: 16px;
    color: #c1e8ff !important;
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
    color: #c1e8ff;
}

input[type="text"]:hover, input[type="email"]:hover {
    outline: none;
    border: solid 2px #c1e8ff;
}

input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
    border: solid 2px #c1e8ff;
}

select:hover {
    outline: none;
    border: solid 2px #c1e8ff !important;
}

select:focus {
    outline: none;
    border: solid 2px #c1e8ff !important;
}

input[type="text"] {
    flex: 1;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: left;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    color: #276b93 !important;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.checkbox-group .agreement {
    color: #bae6ff;
    text-decoration: underline;
}

.signup-btn {
    font-weight: bold;
    background-color: #fff;
    border: none;
    color: #10A9FF;
    border-radius: 20px;
    padding: 7px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 38px;
}

.signup-btn:hover {
    background-color: #cfedff;
}

.or-divider {
    font-family: arial;
    font-weight: bold;
    color: #18a3f1;
    margin: 10px;
    font-size: 1.17em;
}

.login-btn {
    font-weight: normal;
    background: #039cf5b5;
    border-radius: 20px;
    border: none;
    padding: 7px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0px;
    color: #1e6893cb;
    height: 38px;
}

.login-btn:hover {
    background-color: #039cf5;
}

.input-icon {
    position: relative;
}

.input-icon ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-70%);
    color: #fff;
    font-size: 24px;
}

.input-icon input, .input-icon select {
    width: 100%;
    padding: 10px 10px 10px 35px;
    margin-bottom: 10px;
    background: #29affb;
    border: solid 2px #62c6ff;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
}

.input-icon select {
    padding: 10px 10px 10px 35px;
}

.input-group {
    display: flex;
    gap: 10px;
}

@media (max-width: 500px) {

    .login-form {
        width: 100%;
    }
    
}